<a href="@Url.Action("Giohang","Giohang")" style="color:black;font-weight:bold;text-decoration:none;">
    <img src="~/images/giohang.gif" style="width:70px;height:70px"/>Giỏ Hàng(@ViewBag.Tongsoluong)
</a>
